.parent{
    display: flex;
    align-items: row;
    flex-direction: row-reverse;
}
.wineBarsContainer{
width: 442px;
display: block;
margin-left: auto;
margin-right: auto;
position: relative;
top: 400px;
left: 4%;

}

form{
    position: fixed;
    top: 29%;
    display: flex;
    flex-direction: column;

}