.container{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}
#wineParty{
  max-width: 100%;
}
h3{
  display: flex;
}
@media screen and (max-width: 768px) {
  #wineParty{
    margin-right: 70px;
  }
 }